<!DOCTYPE html>
<html>
<head>
	<title> Blog Tran Trung </title>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<!-- header -->

	<div class="wrapper">
	<header>
		<nav>
			
			<div class="logo"> TrungTH </div>
			

			<div class="menu-icon">
			 <span class="glyphicon glyphicon-fire" aria-hidden = "true"></span>
		</div>
			<ul>
				<li> <%= link_to "posts" ,"#", :class=>"login"%></li>

				<li> <%= link_to "About", about_trungtran_path, :class=>"login"%></li>
				
				  <li>
				  <%= link_to('Log in', "#", :class=>"login")  %>  
				  </li>

			</ul>
		</nav>
	</header>
	</div>

	<div class="content">
	
	<p class="bold-tht">Trần Hữu Trung</p>
	<p> Đây là cái tên mà ba mẹ đã đặt cho tôi. Quê hương xứ dừa mà tôi đã được gắn bó, được sinh ra và lớn lên trong mảnh đất đầy tình thương, mộc mạc của  con người Bến Tre. Lúc nhỏ, tôi là một cậu bé ngoan ngoãn, rất biết vâng lời ba mẹ. Nhiều năm liền đều đạt thành tích tốt trong học tập cũng như các hoạt động ngoại khóa của trường, lớp... </p>

	<p>Câu chuyện bắt đầu từ khi tôi lên đại học. Thật sự mà nói, tôi đã thay đổi rất nhiều trong những năm đó. Từ cấp ba, tôi đã thích về nghề IT (máy tính) nhưng chưa tìm hiểu rõ những dòng code nó khó khăn đến như thế nào? Bắt đầu vào giảng đường đại học, những năm đầu rất suông sẻ cho tới khi bước vào chuyên ngành mình học. Tôi cảm thấy rất áp lực và dường như tự hỏi: Liệu mình có chọn sai ngành? Liệu mình có nên tiếp tục về nghề dev này nữa không?"  Cứ thế, việc học thì càng ngày càng sa sút, tôi bắt đầu lao vào game online và dường như không thể tách rời nó mỗi khi về nhà với chiếc máy tính trên bàn.  </p>
	
	<p>
	Thử thách càng ngày càng nhiều, áp lực cứ thế mà đè nặng lên vai!  23 tuổi đầu, với đôi bàn tay trắng tôi cảm thấy rất tự ti với bản thân và càng ngày càng sống khép mình lại. 
	</p>

	<p>
	"Failure is the condiment that gives success its flavor". 
	</p>

	<p>
	"Thất bại là gia vị tạo nên sự ngon miệng của thành công".	</p>

	<p class="author">
	(Truman Capote)  
	</p>

	<p>
	Thành công là điều mà mỗi con người trong chúng ta đều mong muốn! Với tôi, thành công lớn nhất đó là phải biết tự mình đứng lên sau những thất bại và coi đó là một bài học quý giá để mình trưởng thành hơn. Tôi bắt đầu làm quen với những dòng code, tìm tòi những tài liệu trên mạng nói về lập trình. bắt đầu bỏ dần game online và tập tành street workout (môn thể thao đường phố yêu thích của tôi)... 
	</p>

	<p>
	 "Cần cù bù thông minh" Tôi nghĩ, không có việc gì mà chúng ta không làm được nếu tự mình từ bỏ nó. Không có sự thành công nào mà không đánh đổi bằng mồ hôi, nước mắt và sự đau đớn. Hãy đặt cho mình những mục tiêu cao hơn, vĩ đại hơn và tự nhủ với lòng rằng "I can do it, I will do it...  ->  Yes, I did it !!!" 
 
	</p>
	</div> 
    </body>
</html>


